<cloud-title>Sign in to Taco Cloud</cloud-title>

<p style="font-weight: bold; color: red;">
  The sign in and security features of this version of Taco Cloud are not yet
  implemented. The forms presented below do absolutely nothing...yet. Stay tuned.
</p>

<group-box title="Sign in">
  <form>

    <label for="signin-username"><b>Username:</b>
    </label><br />
    <input type="text" id="signin-username" name="username" autocomplete="username" class="formField" /><br />

    <label for="signin-password"><b>Password:</b></label><br />
    <input type="password" id="signin-password" name="password" autocomplete="current-password"
      class="formField" /><br /><br /> <big-button label="Sign in">
    </big-button>
  </form>

</group-box> <group-box title="Register">

  <form> <label for="register-username"><b>Username:</b>

    </label><br /> <input type="text" id="register-username" name="username" autocomplete="username"
      class="formField" /><br /> <label for="register-password"><b>Password:</b></label>
    <br /> <input type="password" id="register-password" name="password" autocomplete="new-password"
      class="formField" /><br /><br /> <label for="register-verify-password"> <b>(verify password)</b>
    </label><br /> <input type="password" id="register-verify-password" name="verifyPassword"
      autocomplete="new-password" class="formField" /><br /><br />

    <label for="fullName"><b>Full name:</b></label><br />
    <input type="text" id="fullName" name="fullName" autocomplete="name" class="formField" /><br /><br /> <label
      for="street"><b>Street:</b></label><br /> <input type="text" id="street" name="street"
      autocomplete="street-address" class="formField" /><br /><br />

    <label for="city"><b>City:</b></label><br />
    <input type="text" id="city" name="city" autocomplete="address-level2" class="formField" /> <label
      for="state"><b>State:</b>
    </label> <input type="text" id="state" name="state" autocomplete="address-level1" class="formField" />
    <br /><br /> <label for="zipCode"><b>Zip code:</b></label><br />
    <input type="text" id="zipCode" size="2" name="zipCode" autocomplete="postal-code" class="formField" /><br />
    <br />

    <label for="phoneNumber"><b>Phone number:</b></label><br />
    <input type="tel" id="phoneNumber" name="phoneNumber" autocomplete="tel" class="formField" /><br /><br />
    <big-button label="Register"></big-button>
  </form>

</group-box>