<cloud-title>Design your taco</cloud-title>

<form (ngSubmit)="onSubmit()">

  <group-box title="Choose your wrap">
    <div *ngFor="let wrap of wraps">
      <input
        type="checkbox"
        [id]="'wrap-' + wrap.id"
        (change)="updateIngredients(wrap, $event)"
        name="ingredients"
        [value]="wrap.id"
      />
      <label [for]="'wrap-' + wrap.id">{{wrap.name}}</label>
      <br />
    </div>
  </group-box>

  <group-box title="Choose your protein">
    <div *ngFor="let protein of proteins">
      <input
        type="checkbox"
        [id]="'protein-' + protein.id"
        (change)="updateIngredients(protein, $event)"
        name="ingredients"
        [value]="protein.id"
      />
      <label [for]="'protein-' + protein.id">{{protein.name}}</label>
      <br />
    </div>
  </group-box>

  <group-box title="Choose your cheese">
    <div *ngFor="let cheese of cheeses">
      <input
        type="checkbox"
        [id]="'cheese-' + cheese.id"
        (change)="updateIngredients(cheese, $event)"
        name="ingredients"
        [value]="cheese.id"
      />
      <label [for]="'cheese-' + cheese.id">{{cheese.name}}</label>
      <br />
    </div>
  </group-box>

  <group-box title="Choose your veggies">
    <div *ngFor="let veggie of veggies">
      <input
        type="checkbox"
        [id]="'veggie-' + veggie.id"
        (change)="updateIngredients(veggie, $event)"
        name="ingredients"
        [value]="veggie.id"
      />
      <label [for]="'veggie-' + veggie.id">{{veggie.name}}</label>
      <br />
    </div>
  </group-box>

  <group-box title="Choose your sauce">
    <div *ngFor="let sauce of sauces">
      <input
        type="checkbox"
        [id]="'sauce-' + sauce.id"
        (change)="updateIngredients(sauce, $event)"
        name="ingredients"
        [value]="sauce.id"
      />
      <label [for]="'sauce-' + sauce.id">{{sauce.name}}</label>
      <br />
    </div>
  </group-box>

  <group-box title="Name your taco">
    <p>
      Give your taco a name:
    </p>

    <label for="tacoName">Taco name:</label>
    <input
      type="text"
      id="tacoName"
      [(ngModel)]="model.name"
      name="name"
      autocomplete="off"
      class="nameField"
    />
  </group-box>

  <br />

  <big-button label="Create Taco"></big-button>

</form>